{% extends 'base.html.twig' %}

{% block title %}Mon Compte - Village Green{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    <h2>Bienvenue {{ app.user.firstname }}</h2>
    <a href="{{ path('password') }}"> Modifier mon mot de passe</a> <br>
    Mes adresses <br>
    Mes commandes

{% endblock %}
